body{
    padding: 0;
    margin: 0;
    background-color: #f3f3f3;
}

a{
    text-decoration: none;
    color: rgb(43, 49, 16);
}

.contenedor-general{
    display: flex;
    align-items: center;
    
}

.contenedor-general-derecha{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 60%;
    height: 100vh;
    flex-grow: 0;
}

.contenedor-general img{
    width: 40%;
    height: auto;
    
}

.contenedor-derecha{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 2rem;
    width: 60%;
    height: 80vh;
}

.contenedor-form{
    background-color: rgb(219, 219, 219);
    box-shadow: 1px 1px 1px 1px rgb(194, 193, 193);
    width: 100%;
    padding: 0rem 2rem;
    margin-left: 0;
}

#form{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 6rem;
    width: 100%;
    
}

.elemento-form{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    margin: 1rem 0;
}

input{
    width: 16rem;
    padding: 0.4rem 0.6rem;
    border: 1px solid rgb(233, 230, 230);
    border-radius: 0.2rem;
    outline: none;
}

input:focus{
    border: 2px solid rgb(66, 66, 255);
}

input[type='password']:invalid,
input[type='tel']:invalid,
input[type='email']:invalid{
    border: 2px solid rgb(255, 46, 46);
}

button[type='submit']{
    padding: 1rem 4rem;
    border: none;
    border-radius: 0.3rem;
    font-size: 1.01em;
    cursor: pointer;
    background-color: rgb(112, 112, 112);
}